#add-task {
  display: flex;
  justify-content: center;
  border: 1px solid #353535;
}

#add-text {
  display: block;
  width: 100%;
  margin: 0;
  padding: 3px 7px;
  border: none;
  font-size: 28px;
}

#add-task button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none !important;
  background-color: #585858;
  color: white;
  font-size: .4em;
  border-left: 1px solid #a2a2a2 !important;
  cursor: pointer;
  padding: 0 0.7em;
}