#app {
  font-size: 30px;
  background-color: white;
}

.container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  #app {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  #app {
    font-size: 40px;
  }
}