#app {
  font-size: 35px;
}

.container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  #app {
    font-size: 41px;
  }
}

@media (min-width: 768px) {
  #app {
    font-size: 45px;
  }
}