#filter-nav {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
}

#filter-nav li {
  display: block;
  text-align: center;
  letter-spacing: 1px;
}

#filter-nav a {
  text-decoration: none;
  color: white;
}

#filter-nav a:hover {
  text-decoration: underline;
}

#filter-nav a.active {
  color: inherit;
  cursor: default;
  color: #87ffce;
}

#filter-nav a.active:hover {
  text-decoration: none;
}

@media (min-width: 700px) {
  #filter-nav {
    justify-content: center;
  }

  #filter-nav li {
    flex: 1
  }
}