@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

* {
  box-sizing: border-box;
}

body {
  --primary: #0089ff;
  --secondary: #ffc500;
}

body,
input,
button {
  font-family: 'Quicksand', sans-serif;
  color: #353535;
}