.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.task-display,
.task-edit {
  width: 100%;
  margin: 10px;
}

/* Display */

.task-display {
  padding: 0 0.2em;
  word-wrap: break-word;
  overflow: hidden;
  line-height: normal;
}

.complete .task-display {
  color: #9a9a9a;
}

/* Edit */

.task-edit {
  height: 1em;
}

.task-edit input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.1em 0.2em;
  border: 1px solid #a2a2a2;
  font-size: .8em;
}

.task input:focus {
  outline: none;
}

/* Checkbox */

.cbox-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 0.7em;
  height: 0.7em;
  border: 3px solid var(--primary);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete .check {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: var(--primary);
}

/* Delete button */

.task button {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.8em;
  color: #cc1818;
  background-color: white;
  border: none;
  cursor: pointer;
}

.task button:hover {
  color: red;
}