.tasks {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  margin: auto;
}

.nav {
  list-style: none;
}

.nav button {
  border: 1px solid black;
  width: 100px;
  margin: 1px;
}

button.selected {
  background-color: lightyellow;
}