*,
*::before
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.tasks {
  max-width: 600px;
  max-height: 400px;
  border: 1px solid black;
  margin: auto;
  overflow: auto;
}

.nav {
  list-style: none;
}

.nav button {
  border: 1px solid black;
  width: 100px;
  margin: 1px;
}

button.selected {
  background-color: lightyellow;
}